<ng-include src="'angular/_shared/_top-nav.html'"></ng-include>
<ng-include src="'angular/_shared/dashboard.html'"></ng-include>

<div class="container page edit-listing">
	<div class="row">	
		<div class="col-md-3 hidden-xs">
			<ng-include src="'angular/_shared/listing-nav.html'"></ng-include>	
		</div>
		<div class="col-md-9">
			<!-- Title -->
			<section>
				<h3>Title</h3>
				<div class="row">
					<div class="col-md-4">
						<input ng-model="list.title" class="form-control" type="text">
					</div>
				</div>
			</section>
			<!-- Calendar -->
			<section id="calendar">	
				<h3>Calendar</h3>
				<div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> 
			</section>
			<!-- Pricing -->
			<section id="pricing">
				<h3>Set A Price for Your Space</h3>
				<p>You can set a price based on your location, space, amenities, and your hospitality.</p>
				<div class="row">	
					<div class="col-md-4 col-middle">
				      <div class="input-group">
				        <span class="input-group-addon">$</span>
				        <input class="form-control" type="text" ng-model="list.price_cents">
				      </div>
				    </div>
				</div>
			</section>
			<!-- Basics -->
			<section id="basics">

			</section>

			<!-- Description -->
			<section id="description">
				<h3>Talk About Your Space</h3>
				<p>What is unique about your place? What do you like about it?</p>
				<div class="row">	
					<div class="col-md-8">
						<textarea ng-model="list.summary" class="form-control" cols="30" rows="10"></textarea>
					</div>
				</div>
				<h3>Type</h3>
				<p>What will you be renting out?</p>
				<div class="row">	
					<div class="col-md-8">
						<input type="text" ng-model="list.home_type" value="One Bedroom">
					</div>
				</div>
			</section>
				
			<!-- Location -->
			<section id="location">
				<h3>City</h3>
				<p>This is important to narrowing down the search for users.</p>
				<div class="row">	
					<div class="col-md-6">
						<label for="Address">City</label>
						<input type="text" class="form-control" ng-model="list.city">
					</div>
				</div>

				<h3>Set Your Address</h3>
				<p>We do not share your full address until after the user has booked.</p>
				<div class="row">	
					<div class="col-md-6">
						<label for="Address">Address</label>
						<input type="text" class="form-control" ng-model="list.address">
					</div>
				</div>
			</section>

			<!-- Amenities -->
			<section id="amenities">	

			</section>

			<!-- Photos -->
			<section id="photos">
				
			</section>

			<!-- Save -->
			<section>
				<button class="btn btn-lg btn-success" ng-click="updateList()">Submit</button>
			</section>
		</div>
	</div>	
</div>