<div class="landing-pg">
    <div class="top-bar">
      <ul class="list-inline pull-right">
          <li ng-click="loginModal('sm')">Log In</li>
          <li><a href="#/inbox">Messages</a></li>
          <li>I want to host</li>
      </ul>
    </div>
      
     <div class="logo"></div>
     <div class="help">
       <a href="">How does it work?</a>
     </div>
    
    <div class="form-bg">
      <div class="container">
          <form class="row" ng-submit="search(loc, checkin, checkout)">
            <div class="col-md-5 col-sm-3 no-pad">
              <label for="exampleInputEmail3">Select City</label>
              <input type="input" required="required" class="form-control" id="exampleInputEmail3" ng-model="loc" placeholder="Enter city">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 no-pad">
              <label for="exampleInputPassword3">Arriving</label>
              <p class="input-group">
                    <input type="text" class="form-control" ng-click="open($event, 'opened1')" min-date="DATE_TODAY" datepicker-popup="{{format}}" ng-model="checkin" is-open="opened1" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              </p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 no-pad">
              <label for="exampleInputPassword3">Departing</label>
             <p class="input-group">
                   <input type="text" class="form-control" ng-click="open($event,'opened2')" min-date="checkin" datepicker-popup="{{format}}" ng-model="checkout" is-open="opened2" min-date="minDate" placeholder="Check out" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
             </p>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-12 no-pad">

              <button type="submit" class="btn btn-default">Search</button>
            </div>
          </form>
        </div>
    </div>
</div>

<div class="landing-info">
  <section class="why-info center-text">
    
      <h3>Why ummaspot?</h3>
      <p>A message insert here</p>
    
  </section>

  <section class="info">
    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>&nbsp;</p>
          </div>
          <div class="col-md-6">
            <h4>Lorem ipsum dolor sit amet</h4>
            <p>Quisque quis arcu interdum, fringilla neque in, placerat dolor. Fusce lacinia sem neque, eget suscipit purus elementum ac. Duis tincidunt diam sit amet nisl pellentesque aliquet. Nam vulputate feugiat mattis. In tempus augue a ante porttitor, eu dignissim leo laoreet. Nulla auctor ante ut dui consectetur, eget faucibus eros suscipit. Nullam a felis molestie enim dapibus blandit. Sed at dapibus justo, eu vulputate leo. Sed viverra enim leo, in bibendum felis efficitur sed. In hac habitasse platea dictumst. Nullam at mauris in est finibus cursus.</p>
            <p>Nam iaculis tempus mattis. Vivamus sed magna quam. Quisque malesuada imperdiet facilisis. In hac habitasse platea dictumst. Sed sit amet odio ipsum. Proin interdum tincidunt ipsum a rutrum. Fusce id malesuada neque, ut commodo tellus. Nulla ut enim consequat nunc maximus mollis</p>
          </div>
        </div>
    </div>
  </section>

  <section class="testimonials">
    <h3>Testimonials</h3>
  </section>
</div>

