<ng-include src="'angular/_shared/_top-nav.html'"></ng-include>
<ng-include src="'angular/_shared/dashboard.html'"></ng-include>


<div class="container">
	<div class="row">
		<div class="alert alert-info">
			<p>The current status is: <strong>{{results.status}}</strong></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-7">
			<div class="panel panel-default">
                <div class="panel-body chat-form">
                    <textarea class="form-control" ng-model="inbox.body" rows="3"></textarea>
                    <div class="pull-right">
                        <button class="btn btn-default" type="submit">Approve / Decline</button>
                        <button class="btn btn-default" ng-click="submitChat(inbox)" type="submit">Button</button>
                    </div>
                </div>
            </div>
			<div ng-repeat="message in results.messages" class="row chat-inbox">
				<div class="col-md-1 col-sm-4">
					<span>
						<img class="img-circle" src="{{message.avatar}}" alt="">
					</span>
				</div>
				<div class="col-md-10 col-sm-8">
					<div class="chat-body">
						<p>{{message.content}}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="row">
				<div class="col-md-3">
					<a href="#/user/{{result.host_id}}">
						<img class="media-object" style="width: 80px; height: 80px;" src="{{results.avatar" data-holder-rendered="true">
					</a>
				</div>
				<div class="col-md-7">
					{{results.name}}
				</div>
			</div>

			<h3>Payment Summary</h3>
		</div>
		</div>
		
	</div>
</div>

